<h1>Resultado de la Busqueda:</h1>
<h3>termino: <small>{{termino}} </small></h3>
<div class="card-columns">
    <div class="card" *ngFor="let heroe of heroes; let i=index">
        <img class="card-img-top " src="{{heroe.img}}" alt="Card image cap ">
        <div class="card-body ">
            <h5 class="card-title ">{{heroe.nombre}}</h5>
            <p class="card-text ">{{heroe.bio}}</p>
            <p class="card-text "><small class="text-muted">{{heroe.aparicion}}</small></p>
        </div>

    </div>